.Accra{
    background-image: url(images/Acraa.jpg);
    background-size: cover;
    height: 100vh;
    width: 40%;
    filter: brightness(50%);
    color:white;
    text-align: center;
}
.accrawords{
    margin-top: 50%;
    font-size: 20px;
}
.Nairobi{
    background-image: url(images/Nairobi.jpg);
    background-size: cover;
    height: 100vh;
    width: 40%;
    filter: brightness(50%);
    color: white;
    text-align: center; 
}
.nairobiwords{
    margin-top: 50%;
    font-size: 20px;
}
.zanzibar{
    background-image: url(images/zanzibar.jpg);
    background-size: cover;
    height: 100vh;
    width: 40%;
    filter: brightness(50%);
    color:white;
    text-align: center;
}
.zanzibarwords{
    margin-top: 48%;
   font-size: 20px;
}
.events h4{
    color: rgb(245, 245, 141);
  }
.events h2{
    font-size: 50px;
}
.events{
    display: flex;
}
.navigation{
    background: black;
    padding:5px 0;
    border-radius: 30px;
    height: 60px;
    gap: 3%;
    position: absolute;
    bottom: 0;
    width: 40%;
    width: 45%;
    left: 16cm;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    z-index: 10;
    border-radius: 30px;
    height: 60px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 0;
    gap:20px;
    padding-top: 10px;
    transition: 0.2s ease;
  }

