@import url(https://db.onlinewebfonts.com/c/940ace70d6c766e685a20dea33762abf?family=American+Typewriter);
.menuView{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(images/red-cloth.jpg);
    width: 50vw;
    height:120vh;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
    background-size: 200vh;

  }
  .menuView p{
    position:absolute;
    color: white;
    font-size: 30px;
    position: relative;
    top:200px;
    left:10cm;
    font-family: "American Typewriter";
    font-style: normal;
    font-weight: 600;

  }
  .menuView h3{
    position: absolute;
    color:rgb(179, 66, 21);
    position: relative;
    top: 250px;
    left: 300px;
    font-size: 40px;
  }
  #menulogo{
    width: 10%;
    position: absolute;
    left:9cm;
  }
  .menu-details{
    background-color: black;
    width: 50vw;
    color: white;
  }
  .kilimanibody{
    margin: 0;
    width: 100%;
    display: flex;
  
  }
  .details{
      display: flex;
      font-family: "American Typewriter";
      font-style: normal;
      font-weight: 600;
      height: 120vh;
  }
  .navigation{
    background: black;
    padding:5px 0;
    border-radius: 30px;
    height: 60px;
    gap: 3%;
    position: absolute;
    bottom: 0;
    width: 40%;
    width: 45%;
    left: 5%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    z-index: 10;
    border-radius: 30px;
    height: 60px;
    margin-bottom: 30px;
  }
  .menuTitle{
    display: flex;
    justify-content: center;
    gap: 60px;
 }
.wholeTea{
display: flex;
justify-content: center;
gap: 43%;

}
#minilogo{
    width: 4%;
    position:absolute;
}
.salads{
    display: flex;
    justify-content: center;
    gap: 13%;
    margin-top: 2%;
    font-family: "American Typewriter";
    font-style: normal;
    font-weight: 600;
}
.menuTitle a{
color: rgb(249, 205, 140);
text-decoration: none;
}
.details h2{
  color:rgb(179, 66, 21);
  margin-left: 30px;
}
.details h3{
  margin-top: 60px;
  margin-left: 30px;
}
#kilimani{
  margin-left: 30px;
}