

@import url(https://db.onlinewebfonts.com/c/940ace70d6c766e685a20dea33762abf?family=American+Typewriter);
.reservationView{
  background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(images/goodflower.jpg);
  width: 50vw;
  height:100vh;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  font-family: "American Typewriter";
}
.reservationView p{
  position:absolute;
  color: white;
  font-size: 30px;
  position: relative;
  top:200px;
  left:10cm;
}
.reservationView h3{
  position: absolute;
  color:rgb(179, 66, 21);
  position: relative;
  top: 250px;
  left: 300px;
  font-size: 40px;
}
#reservationlogo{
  width: 10%;
  position: absolute;
  left:9cm;
}
.reservation-details{
  background-color: black;
  width: 50%;
  height: 100vh;
}
.reservationbody{
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.details{
    display: flex;
}
#labelName{
  color:white;
  background-color: black;
  width: 80%;
  padding: 15px;
}
#kitisurulocation{
  color:white;
  background-color: black;
  width: 80%;
  padding: 15px;
}
#labelEmail{
  color:white;
  background-color: black;
  width: 80%;
  padding: 15px;
}
#labelTel{
  color:white;
  background-color: black;
  width: 80%;
  padding: 15px;
}
#labelGuests{
  color:white;
  background-color: black;
  width: 80%;
  padding: 15px;
}
#labelDate{
  color:white;
  background-color: black;
  width: 80%;
  padding: 15px;
}
#labelTime{
  color:white;
  background-color: black;
  width: 80%;
  padding: 15px;
}
#labelSubmit{
 color: black;
 padding: 20px;
 border-radius: 13px;
 background-color: wheat;
 width: 84%; 
}
form{
  border: 2px solid grey;
  padding-left: 30px;
  border-radius: 10px;
}
.formDetails{
  left:4cm;
}
.formDetails label{
  color: white;
}
input:focus{
    outline: green solid 4px;
}
.navigation{
  background: black;
  padding:5px 0;
  border-radius: 30px;
  height: 60px;
  gap: 3%;
  position: absolute;
  bottom: 0;
  width: 40%;
  width: 45%;
  left: 5%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  z-index: 10;
  border-radius: 30px;
  height: 60px;
}
#labelSubmit:focus{
    outline: none;
 }
 #labelSubmit:hover{
    background-color: #8A6E42;
    color: #F2D5A5;
 }
 .navigation{
    background: black;
    padding:5px 0;
    border-radius: 30px;
    height: 60px;
    gap: 3%;
    position: absolute;
    bottom: 0;
    width: 40%;
    width: 45%;
    left: 16cm;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    z-index: 10;
    border-radius: 30px;
    height: 60px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 0;
    gap:20px;
    padding-top: 10px;
    transition: 0.2s ease;
  }