
@import url(https://db.onlinewebfonts.com/c/940ace70d6c766e685a20dea33762abf?family=American+Typewriter);
.ankoleLogo{
    transform: translate(5vw,1vh);
    h1{
        font-family: "American Typewriter";
        font-style: normal;
        font-weight: 500;
        line-height: 0.1em;
        color: white;
        margin-top: 90px;
        font-size: 60px;
    }
}
.reviews-page{
    background-color: rgb(0,0,0);
    width: 100vw;
    height: 100vh;
}
.review-button{
position: absolute;
top: 50%;
padding: 16px;
margin-top: -22px;
background-color: black;
border: none;
cursor: pointer;
left: 100;
}
.display-left{
margin-left: 54vh;
font-size: 3vh;
color: #292929;
}
.display-right{
margin-left: 156vh;
font-size: 2.9vh;
color: #292929;
}
.review{
position: absolute;
top: 40vh;
left: 60vh;
p{
    line-height: 30px;
    font-size: 16px;
    color: white;
    text-align: center;
    font-family: "American Typewriter";
    font-style: normal;
    font-weight: 600;
}
}
.fa-quote-left{
color:#b34215;
font-size: 3vh;
margin-right: 80vh;
}
.fa-quote-right{
color:#b34215;
font-size: 3vh;
margin-left: 80vh;
}
.reviews-paragraph{
text-align: center;
}
#logoAnkole{
  width: 130px;
  margin-top: 60px;
}
.navigation{
  font-family: "American Typewriter";
}









